.create-album-full-page {
  background-color: lightgrey;
  /* border-top: 1px solid lightgrey; */

}

.album-errors {
  list-style: none;

    font-size: 13px;
    height: 13px;
    color: red;
    margin-bottom: 8px;

}

.create-album-background {
  width: 955px;
  height: 1300px;
  background-color: #f5f5f5;
  margin: auto;
  padding-left: 20px;


}

.create-album-form-content {
  display: flex;

}

.create-album-left {
  width: 467px;

  height: 1300px;
}

.create-album-right {
  width: 478px;
  padding: 25px 20px 24px 20px;
}


.create-album-info-box {
  margin-top: 22px;
  width: 456px;
  height: 72px;
  background-color: white;
  padding: 10px 1px 10px 10px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #0687f5;
  display: flex;

}

.create-album-small-img {
  width: 72px;
  height: 72px;
  margin-right: 10px;
  display: block;

}

.create-album-small-img img{

  width: 70px;
  height: 70px;
  border: 1px dashed #ccc;
  display: block;

}

.create-album-title {
  font-size: 20px;
  color: #363636;
}

.create-album-by {
  font-size: 11px;
}

.create-album-artist {
  font-weight: bold;
  font-size: 11px;
  color:  #363636;
}

.create-album-right {
  background-color: white;
}

/*
.create-album-content {
  padding-top: 56px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 45px;
} */

.create-album-heading {

  font-size: 18px;
  font-weight: bold;
  margin-bottom: 26px;
}

.create-album-title-input {
  padding-bottom: 52px;
  border-bottom: 1px dotted lightgrey;
}

.create-title-input {
  width: 405px;
  height: 27px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #9c9c9c;
  border-color: #9c9c9c #9c9c9c #ccc #ccc;
  font-size: 22px;

}

.create-title-input:focus {
  border-color: #50a1e6;
  box-shadow: 0 0 5px #b4d7f9;
  outline: medium none;
}

::placeholder {
  color: #b0b0b0;
}

.create-title-label {
  text-align: right;
  color: dimgray;
  font-size: 13px;
  margin-right: 10px;

}

.create-album-credits {
  margin-top: 30px;
}

.create-credits-label {
  font-size: 12px;
  margin-bottom: 10px;
}

.create-credits-input {

  outline: none;
  font-size: 12px;
  border: 1px solid #9c9c9c;
  border-color: #9c9c9c #9c9c9c #ccc #ccc;
  width: 400px;
  height: 100px;
  padding: 3px;
}

.create-credits-input:focus {
  border-color: #50a1e6;
  box-shadow: 0 0 5px #b4d7f9;
  outline: medium none;
}


.create-album-submit {
  margin-top: 50px;
  border: 1px solid silver;
  width: 81px;
  height: 31px;
  font-size: 18px;
  color: #0687f5;
  outline: none;
}

.create-album-submit:hover {
  text-decoration: underline;

}


.inputfile-cover {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;



}

.inputfile-cover + label {
  position: relative;
  width: 143px;
  height: 22px;
  font-size: 18px;
  color: #0687f5;
  cursor: pointer;
  outline: none;
  text-align: center;
  bottom: 140px;


}

.inputfile-cover.hide + label {
  visibility: hidden;

}

.inputfile-cover + label:hover {
  text-decoration: underline;

}

.update-album-image-hint {
  position: relative;
  bottom: 125px;
  color: #999;
  font-size: 12px;


}


.update-album-image-hint.hide {
  visibility: hidden;
}

@-moz-document url-prefix() {
  .update-album-image-hint {
    bottom: 0;
    top: 70px;
  }
}

@-moz-document url-prefix() {
  .inputfile-cover + label {
    bottom: 0;
    top: 60px;
  }
}

.update-album-image {
  margin-top: 30px;
  height: 212px;
  width: 448px;
  border-bottom: 1px dotted lightgrey;
  padding-bottom: 30px;

}



.update-album-image-box > img {
  width: 210px;
  height: 210px;



}



.update-album-image-box {
  color: #999;
  width: 210px;
  height: 210px;
  border: 1px dashed silver;
  margin-bottom: 30px;
  text-align: center;

}


.track-upload-main {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px dashed darkgray;
  padding: 10px;
  width: 500px;
  display: inline-block;
}

.track-title-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.track-order-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.track-title-label {
  text-align: right;
  color: dimgray;
  font-size: 13px;
  margin-right: 10px;
}

.track-order-label {
  text-align: right;
  color: dimgray;
  font-size: 13px;
  margin-right: 10px;
}

.track-title-input > input {
  width: 369px;
  height: 25px;
  font-size: 14px;
  padding-left: 3px;
  outline: none;
}

.track-order-input > input {
  width: 20px;
  height: 25px;
  font-size: 14px;
  padding-left: 3px;
  outline: none;
}

.track-file-label {
  margin-bottom: 10px;
  color: dimgray;
  font-size: 13px;
  margin-right: 10px;
}

.append-track-plus {
  font-size: 40px;
  display: inline-block;
  border: 2px solid darkgray;
  padding: 5px;
}
