.main-nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.main-nav-left {
  display: flex;
  flex-direction: column;
}

.main-nav-left-bottom {
  padding-bottom: 15px;
  margin-top: 10px;
  padding-left: 195px;
  display: flex;
}

.main-nav-left-bottom li {
  list-style: none;
}

.main-nav-greeting {
  display: inline-block;
  list-style: none;
  font-weight: normal;
  color: #777;
  font-weight: normal;
  border-right: 1px solid lightgray;
  font-family: Helvetica;
  font-size: 14px;
  text-decoration: none;
  padding-right: 10px;
  padding-top: 2px;


}

.main-nav-yoursite {
  font-weight: 550;
  font-size: 16px;
  padding-left: 9px;

}

.main-nav-yoursite > a {
  text-decoration: none;
  color: black;
}

.main-nav-yoursite > a:hover {
  text-decoration: underline;
}

.main-nav-right {
  display: flex;
  padding-right: 197px;
  width: 448px;
  height: 87px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;


}

.main-nav-left-top {
  height: 45px;
}

.main-logo {
  padding-top: 10px;
  padding-left: 195px;
  font-family: Helvetica;
  font-size: 26px;
  text-decoration: none;
  margin-bottom: 10px;


}

.main-logo img {
  height: 14%;
  width: 14%;
}

.main-logo a:link, a:visited{
  text-decoration: none;
  color: #333;
}

.main-nav-session-buttons {
  display: flex;
  list-style: none;


}

.main-nav-right-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 13px;
}



.main-nav-right-bottom {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  font-weight: 550;
  font-size: 16px;
}

.main-nav-signup {
 padding-left: 9px;
 padding-right: 12px;
 border-left: 1px solid lightgray;
}

.main-nav-login {
  padding-left: 9px;
  border-left: 1px solid lightgray;
}

.main-nav-logout button {
  font-weight: 550;
  font-size: 16px;
  padding-left: 9px;
  border: none;
  padding: 0;

}

.main-nav-logout button:hover {
  text-decoration: underline;
}

.main-nav-logout {
  padding-left: 9px;
  border-left: 1px solid lightgray;
}

.main-nav-right-bottom a:link, a:visited {
    text-decoration: none;
    color: #333;
}

.main-nav-right-bottom a:hover{
    text-decoration: underline;
    color: #333;
}
