.main-photo-block {
  height: 540px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}


.main-large-photo {
  width: 1070px;
}

.main-large-photo img {
  width: 1070px;
  height: 540px;
}

.main-large-photo img:hover {
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -o-filter: brightness(130%);
  -ms-filter: brightness(130%);

}


.main-small-photos {
  width: 375px;
}

.main-small-photos li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 180px;
}

.main-small-photos img {
  height: 180px;
  width: 375px;
}

.main-small-photos img:hover {
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -o-filter: brightness(130%);
  -ms-filter: brightness(130%);
}

.featured-albums {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.album-pres {
  text-align: center;

}

.album-pres > a {
  text-decoration: none;
}

.main-albums-image {

}

.main-albums-image > img {

}

.main-albums-artist {

  font-size: 12px;
  color: gray;
}

.main-albums-title {

font-size: 13px;
}
