.main-nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-left {

}

.main-nav-right {
  display: flex;
  padding-right: 197px;
  width: 448px;
  height: 87px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column

}

.main-logo {
  padding-left: 195px;
  font-family: Helvetica;
  font-size: 25px;
  text-decoration: none;
  padding-bottom: 30px;

}

.main-logo a:link, a:visited{
  text-decoration: none;
  color: #333;
}

.main-nav-session-buttons {
  display: flex;
  list-style: none;


}

.main-nav-right-top {

}

.main-nav-right-bottom {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  font-weight: 550;
  font-size: 15px;
}

.main-nav-signup {
 padding-left: 9px;
 padding-right: 12px;
 border-left: 1px solid lightgray;
}

.main-nav-login {
  padding-left: 9px;
  border-left: 1px solid lightgray;
}

.main-nav-logout button {
  font-weight: 550;
  font-size: 15px;
  padding-left: 9px;
  border: none;
  padding: 0;

}

.main-nav-logout {
  padding-left: 9px;
  border-left: 1px solid lightgray;
}

.main-nav-right-bottom a:link, a:visited {
    text-decoration: none;
    color: #333;
}

.main-nav-right-bottom a:hover{
    text-decoration: underline;
    color: #333;
}
