.artist-search-bar {
  width: 208px;
  height: 26px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  padding-right: 28px;
  color: #161113;
  font-size: 13px;
  margin-right: -16px;
}

.artist-search-bar:focus {
  background: #eef2f3;
  box-shadow: 0 0 5px #d7d7d7
}



.search-icon {
  right: 12px;
  position: relative;
  top: 2px;
  font-size: 16px;
  color: #000000c2;

}


.search-results-list {
  list-style: none;
  position: absolute;
  width: 246px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  background-color: white;
  border: 1px solid #bebebe;
  z-index: 1;
}

.search-results-list-items  {
  padding: 4px 6px 4px 6px;
  display: flex;

}

.search-results-list-items:hover  {
  background-color: #eef2f3;

}

.search-results-list-items > a {
  display: flex;
  text-decoration: none;
}


.search-image-box {
  height: 50px;
  width: 50px;
}

.search-image-box img{
  height: 50px;
  width: 50px;
}

.search-content-box {
  line-height: 17px;
  padding-left: 6px;
  vertical-align: top;
}

.search-album-title {
  vertical-align: top;
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
}

.search-album-artist {
  vertical-align: top;
  font-size: 11px;
  line-height: 14px;

}

.search-album-type {
  vertical-align: top;
  font-size: 11px;
  line-height: 14px;

}

@media only screen and (max-width: 480px) {
  .artist-search-bar {
    box-sizing: border-box;
    width: 100%;
  }
  .search-results-list {
    width: calc(100% - 34px);

  }
}
