
.player-total {
  display:flex;
}


.native-player audio {
  display: none;
  z-index: 4;
}

.player-button {
  background-color: white;
  width: 56px;
  height: 52px;
  z-index: 3;
  border: 1px solid silver;
  cursor: pointer;
}

.play > img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 16px;
  left: 18px;
  z-index: 2;
  cursor: pointer;

}

.player-mid-controls {
  margin-left: 12px;
}

.slider-container {
  width: 250px;
}

.current-track-info {
  height: 20px;
  margin-top: 10px;
  display: flex;
}

.current-track-title {
  font-size: 12px;
  color: #363636;
  font-weight: bold;
  padding-right: 6px;
}

.current-track-time {
  font-size: 12px;
  color: #666666;
}

.current-track-title:hover {
  text-decoration: underline;
}

.slider {

  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: 1px solid darkgray;
  background-color: #9c9c9ca3;
  outline: none;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 27px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background-color: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 1px solid darkgray;
}

.slider::-moz-range-thumb {
    width: 27px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background-color: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 1px solid darkgray;
}
