.artist-nav {
  background-color: #ececec;
  border-bottom: dotted #afafaf 1px;
  height: 43px;
  min-width: 975px;
  border-top: solid 5px #848484;
  display: flex;
}

.artist-nav-bar {
  width: 975px;
  margin: 0 auto;
  display: flex;

}

.artist-nav-logo {
  font-family: Helvetica;
  margin-top: 14px;
  width: 85px;
  height: 20px;
  padding-right: 10px;
}

.artist-nav-logo.logged {
  padding-left: 10px;
  margin-left: -125px;
  margin-right: 20px;
}

.artist-nav-logo img {
  height: 12px;
  width: 18px;
  vertical-align: top;
  padding-top: 2px;

}

.artist-nav-logo span {
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    vertical-align: top;
}

.artist-nav-logo a {
  text-decoration: none;

}

.artist-nav-addalbum {
  height: 43px;


}

.artist-nav-addalbum a {
  padding-right: 10px;
  padding-left: 10px;
  color: #1DA0C3;
  font-size: 13px;
  font-weight: 500;
  line-height: 43px;
  height: 43px;
  display: block;

}

.artist-nav-addalbum a:link {
  color: #1DA0C3;
  text-decoration: none;
}

.artist-nav-addalbum a:visited {
  color: #1DA0C3;
  text-decoration: none;
}

.artist-nav-addalbum a:hover {
  background-color: #ded8d8;
  color: #777272;
  text-decoration: none;
}

.artist-nav-addalbum a:active {
  background-color: #ded8d8;
  color: white;
  text-decoration: none;
}

.artist-nav-discover {
  height: 43px;
  width: 51px;
  padding-right: 10px;
  padding-left: 10px;
  color: #1DA0C3;
  font-size: 13px;
  font-weight: 500;
  line-height: 43px;
}

.artist-nav-discover:hover {
  background-color: #ded8d8;
  color: #777272;
}

.artist-nav-search {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 43px;

}

.artist-nav-search input {
  height: 19px;
  width: 204px;
  padding-left: 3px;
  padding-right: 21px;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;

}

.artist-nav-search ul {
  margin-top: -11px;
}

.artist-nav-search input:focus {
  background-color: #eef2f3;
  border: 1px solid #bebebe

}

.artist-nav-right {

  left: 373px;
  position: relative;
}

.artist-nav-session-buttons {
  display: flex;
  list-style: none;
  width: 193px;


}

.artist-nav-right-link {
  height: 43px;
  padding-right: 10px;
  padding-left: 10px;
  color: #1DA0C3;
  font-size: 13px;
  font-weight: 500;
  line-height: 43px;

}

.artist-nav-right-link:hover {
  color: #777272 !important;
  background-color: #ded8d8;

}

.artist-nav-right-link a{
  color: #1DA0C3 !important;
  text-decoration: none;
}
.artist-nav-right-link a:link {
  color: #1DA0C3 !important;
  text-decoration: none;
}

.artist-nav-right-link a:active {
  color: white !important;
  text-decoration: none;
}

.artist-nav-right-link a:hover {
  color: #777272 !important;
  text-decoration: none;

}

}
.artist-nav-right-link a:visited {
  color: #1DA0C3 !important;
  text-decoration: none;

}

.artist-nav-dropdown {
  width: 159px;
  height: 43px;
  left: 735px;
  position: relative;

}

.artist-nav-dropdown:hover {
  background-color: #ded8d8;

}



.artist-nav-dropdown-link {
  min-width: 139px;
  height: 43px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}



.artist-nav-dropdown a:link {
   text-decoration: none;
   color: #1DA0C3
}

.artist-nav-dropdown a:hover {
   text-decoration: none;
   color: #777272;

}

.artist-nav-dropdown a:active {
  text-decoration: none;

}

.artist-nav-dropdown a:visited {
  text-decoration: none;
}


.artist-nav-dropdown-image {
  height: 25px;
  width: 25px;
  padding: 1px;
  margin-top: 8px;
  margin-right: 10px;
  border: 1px solid rgba(0,0,0,.2);
}

.artist-nav-dropdown-image img{
  height: 25px;
  width: 25px;

}

.artist-nav-dropdown-name {

  height: 43px;
  line-height: 43px;
  font-weight: bold;
  font-size: 13px;
  max-width: 150px;
}

.artist-nav-dropdown-caret {
  width: 9px;
  height: 6px;
  margin-top: 20px;
  margin-left: 7px;

}

.dropdown-caret {
  font-size: 11px;
  position: relative;
  bottom: 7px;
}

.artist-nav-dropdown-contents {
  list-style: none;
  position: absolute;
  width: 157px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-top:  dotted #afafaf 1px;
}

.artist-nav-dropdown-contents li {

  height: 35px;

}

.artist-nav-dropdown-contents li:hover {
  background-color: #ded8d8;
}

.artist-nav-dropdown-contents li a{

  display: block;
  padding-right: 10px;
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  font-weight: 500px;
  color: #1DA0C3;
}

.artist-nav-dropdown-contents li button{

  display: block;
  padding-right: 10px;
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  font-weight: 500px;
  color: #1DA0C3;
  border: none;
  background: none;
  outline: none;
}

.artist-nav-dropdown-contents li a:active {
  color: #777272;
}

.artist-nav-dropdown-contents li button:hover {
  color: #777272;
}
